.question-info {
  box-shadow: inset -1px 0px 10px 0px #ababab, 0px 1px 7px -14px #dddddd;
  -webkit-box-shadow: inset -1px 0px 10px 0px #ababab, 0px 1px 7px -14px #dddddd;
  -moz-box-shadow: inset -1px 0px 10px 0px #ababab, 0px 1px 7px -14px #dddddd;
  -o-box-shadow: inset -1px 0px 10px 0px #ababab, 0px 1px 7px -14px #dddddd;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  .title.question-info-table {
    height: 50px;
    background-color: #64b5f6;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    padding: 5px;
    .col-md-2.close-icon-col {
      text-align: right;
      .mr-1.close-icon {
        cursor: pointer;
      }
    }
  }
  .table.table-striped {
    thead tr {
      text-align: center;
    }
  }
}
